/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

  //CSS

}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS






}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  //CSS

}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

body,html{
  margin: 0;
  padding: 0;
  background: #2C2A4A;
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  color: #333;
}

h3{

  margin-top: 20px;
  text-align: center;
  padding: 0;
  color: #eee;
  font-size: 1.2em;
  padding: 0.2em;
}

h4{
  margin: 0;
  padding: 0;
  color: #AAA;
  font-weight: 300;
  text-align: center;
}

#container{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  background-color: #262630;
    }

#container-top{
  width: 100%;
  height: auto;
  margin: 20px 0;
  text-align: center;
}

#container-top img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 75%;
  height: auto;

  box-shadow: 0px 5px 50px 6px rgba(0,0,0,0.75);
}

#container-bottom{
  margin-top: 20%;
  width: 100%;
  display: none;
}

#btns{
  margin-top: 50px;
  margin-left: 30px;
  width: 360px;
  float: left;
}

#playPause, #back, #next{
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 26px;
  line-height: 26px;
  color: #FFF;

}

#playPause{
  margin: 0 50px 0 50px;
}

#rnd, #loop{
  width: 20px;
  height: 20px;
  font-size: 16px;
  line-height: 16px;
  border: 0;
  outline: none;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #F2F2F4;


  }

#rnd{
  margin-right: 25px;
}

#loop{
  margin-left: 25px;
}

#timeNow{
  margin: 40px 30px 20px 0;
  width: 300px;
  float: right;
  text-align: left;
  font-size: 14px;
  padding-top: 14px;
  color: #364156;

}

#totalTime{
  text-align: right;
}

#durationBar{
  margin: 0 auto;
  width: 300px;
  height: 3px;
  background: #364156;
  display: flex;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3), 0 3px 10px 0 rgba(0,0,0,0.3);
}

#expandingBar{
  height: 3px;
  background-color: #F2F2F4;
}

#movingBar{
  height: 3px;
  background-color: #F2F2F4;

}
